<div class='container'>
  <div class='row-fluid'>

    <div class='span3'>
      <div class='bubble'>
        <h4>From:</h3>
        <strong> <%= from %></strong>
      </div>
      <button class='btn btn-large btn-success btn-block reply-btn'>Reply</button>
      <button class='btn btn-large btn-danger btn-block delete-btn'>Delete</button>
    </div>

    <div class='span9'>
      <div class='bubble'>
        <strong>Subject: <%= subject %></strong>
      </div>
      <div class='bubble content'>
        <strong><%= content %></strong>
      </div>
    </div>

  </div>
</div>
