<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/jasmine.css">
  <script data-main="/javascripts/main_spec" src="/javascripts/require.js"></script>
</head>
<body>
  <div id="sandbox" style="overflow: hidden; height: 1px;"></div>
</body>
</html>
